[submodule "electrical/kicad/gigaboard/lib/custom"]
	path = electrical/kicad/gigaboard/lib/custom
	url = https://github.com/Shrijal2410/kicad
[submodule "electrical/kicad/powerboard/lib/custom"]
	path = electrical/kicad/powerboard/lib/custom
	url = https://github.com/Shrijal2410/kicad
